@charset "utf-8";
// 引入公共sass
@import "publichead";
/* 引入登录样式 */
@import "login";

//购物车自己的样式
.head-top .head-top-area,
.head-bottom .head-bottom-area {
    width: 980px;
    margin: 0 auto;
}

.head-bottom-area {
    height: 90px;

}

.head-right {
    float: right;

    ul {
        padding-right: 0px;
        float: none;

        &::after {
            @include clearfix()
        }

        li {
            float: left;
            width: 96px;
            text-align: center;
            color: #999;
            font-size: 15px;
            font-family: "\5FAE\8F6F\96C5\9ED1";
        }

        .active {
            color: #ff7b7e;
        }
    }

    .step-bar {
        margin-top: 10px;
        background: url('../img/def_grey_step.png') no-repeat;
        height: 30px;
        position: relative;

        .paststep {
            width: 25%;
            height: 30px;
            background: url(../img/sel_red_step.png) no-repeat;
            position: absolute;
            top: 0;
        }
    }
}

/* 购物车主体样式 */
#container {
    border-top: 1px solid #e7e7e7;
    background: #fafafa;
    padding-bottom: 50px;
}
/* 购物车版心 */
.w {
    width: 938px;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 20px;
    color: #777;
    font-size: 12px;
}

.cart-top {
    height: 38px;
    line-height: 35px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 16px;

    h1 {
        font-size: 14px;
        color: #3c3c3c;
        border-bottom: 2px solid $color;
        float: left;
        line-height: 36px;
    }
}

/* 列表上面的导航 */
.order-top {
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    line-height: 38px;
    margin-bottom: 10px;

    ul {
        padding: 0 10px;
    }

    .qx {
        vertical-align: middle;
        color: #3c3c3c;
        cursor: pointer;
    }

    .checkbox {
        cursor: pointer;
    }

    li {
        display: inline-block;
        text-align: center;
    }

    li:nth-child(2) {
        // width: 360px;
        width: 38%;
    }

    li:nth-child(3) {
        // width: 100px;
        width: 10.5%;
    }

    li:nth-child(4) {
        // width: 140px;
        width: 14.9%;
    }

    li:nth-child(5) {
        // width: 160px;
        width: 17%;
    }

    li:nth-child(6) {
        // width: 90px;
        width: 9.5%;
    }
}

/* 商品列表 */
.goodslist {
    height: 140px;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    margin-bottom: 10px;

    .shoptitledes {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;

        .checkbox {
            vertical-align: middle;
        }

        .shoptitle {
            font-weight: bold;
            color: #3c3c3c;
        }
    }

    .goodsdetail {
        height: 80px;
        background: #fff7f7;
        padding: 10px;
        position: relative;

        input {
            line-height: 80px;
            height: 80px;
            vertical-align: top;
        }

        .img {
            display: inline-block;
            width: 80px;
            height: 80px;
            vertical-align: top;
            margin-left: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .title {
            vertical-align: top;
            color: #3c3c3c;
            margin-left: 10px;
            display: inline-block;
            // width: 250px;
            width: 26.5%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* 商品下面的小图标 */
        i {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 135px;
            bottom: 10px;
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_post.png');
        }

        .primess {
            display: inline-block;
            // width: 100px;
            width: 10.5%;
            text-align: center;
            margin-left: 30px;

            .preprice {
                text-decoration: line-through;
            }

            .price {
                margin-top: 5px;
            }

            .promotion {
                width: 50px;
                border: 1px solid $color;
                line-height: 22px;
                padding: 0 16px 0 3px;
                color: $color;
                display: inline-block;
            }
        }

        .buynum {
            display: inline-block;
            background: #fff0e7;
            border: 1px solid #ffe1d3;
            width: 82px;
            height: 52px;
            vertical-align: top;
            margin-left: 35px;
            padding: 4px;


            .clearpx {
                /* 去除子元素右边3px */
                font-size: 0;
                background: #fff;
            }

            input {
                width: 58px;
                height: 28px;
                margin-right: 2px;
                border: 1px solid #999;
                line-height: 28px;
                text-align: center;
                color: #3c3c3c;
                outline: 0;
            }

            span {
                display: inline-block;
                width: 20px;
                height: 30px;
                vertical-align: top;
            }

            .add {
                margin-bottom: 2px;
                background-position: -160px -22px;
                cursor: pointer;
            }

            .add:hover {
                background-position: -160px -44px;
            }

            p {
                display: inline-block;
                width: 20px;
                height: 14px;
                background: url(../img/detail_icon4.png) no-repeat -180px -66px;
                /* 默认向下灰色 */
                cursor: default;
                vertical-align: top;
            }

            .limit {
                color: #f66a11;
                height: 26px;
                line-height: 26px;
                text-align: center;
            }

        }

        .sumprice {
            display: inline-block;
            width: 115px;
            text-align: center;
            margin-left: 30px;
            vertical-align: top;
            font-size: 18px;
            color: $color;
        }

        .operation {

            text-align: center;
            display: inline-block;
            vertical-align: top;
            // margin-left: 57px;
            margin-left: 5%;

            a {
                color: #333;
                display: inline-block;
                line-height: 25px;
            }

            a:hover {
                color: $color;
            }
        }
    }
}

/* 购物车下面的导航 */
.order-bottom {
    height: 59px;
    line-height: 59px;
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    margin-top: 10px;
    padding: 0 10px;
    width: 918px;

    .qx {
        vertical-align: middle;
    }

    ul {
        float: left;
        color: #3c3c3c;
        line-height: 50px;

    }

    li {
        display: inline-block;
        text-align: center;
        min-width: 48px;
        margin: 5px;
        font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;

        a {
            color: #3c3c3c;
        }

        a:hover {
            color: $color;
        }
    }

    .totalmess {
        float: right;
        color: #777;

        i {
            font-style: normal;
            font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }

        .selected {
            margin-right: 15px;
            font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }

        .sumgoods {
            color: $color;
            font-weight: bold;
        }

        .price {
            font-size: 18px;
            color: $color;
            font-family: arial;
        }

        .sumprice {
            margin-right: 15px;
        }

        button {
            width: 120px;
            height: 38px;
            line-height: 38px;
            background: $color;
            border: 1px solid $color;
            border-radius: 3px;
            font-family: "\5FAE\8F6F\96C5\9ED1";
            color: #fff;
            font-size: 18px;
            text-align: center;
            outline: none;
            cursor: pointer;
        }
    }
}

/* 没有商品的购物车 */
.nogoods {
    padding: 50px 0;
    text-align: center;
    display: none;

    p {
        font-size: 18px;
        color: #3c3c3c;
        margin-top: 15px;
    }

    div {
        margin-top: 10px;
    }

    span {

        margin-right: 20px;
        height: 24px;
        line-height: 24px;
    }

    a {
        display: inline-block;
        background: #feebed;
        color: $color;
        height: 22px;
        line-height: 22px;
        border: 1px solid $color;
        border-radius: 2px;
        text-align: center;
        padding: 0 20px;
        font-size: 12px;
    }
}
