@charset "utf-8";
// 引入头部sass
@import "head";

//详情页自己的样式

/* 右侧固定侧边栏 */
.fixedmenu {
    position: fixed;
    right: 0;
    width: 42px;
    height: 100%;
    background: #000;
}

.main {
    width: $typeArea;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
}

.main-top {
    height: 50px;
    line-height: 50px;
    font-size: 13px;

    a {
        color: #333;
    }

    i {
        color: #666;
        font-style: normal;
    }

    span {
        color: #666;
    }
}

.mainContent {
    margin-bottom: 20px;

    &::after {
        @include clearfix()
    }

    .scale {
        position: relative;
        float: left;
    }

    /* 左边图片 */
    .smallimg {
        width: 418px;
        height: 418px;
        border: 1px solid #e7e7e7;
        position: relative;
        float: left;
    }

    .smallimg img {
        width: 100%;
        display: block;
    }

    .sf {

        background: orange;
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        cursor: move;
    }

    .df {
        width: 420px;
        height: 420px;
        border: 1px solid #ccc;
        overflow: hidden;
        display: none;
        position: absolute;
        left: 428px;
    }

    .df img {
        position: absolute;
        display: block;
    }

    /* 右边商品信息 */
    .des {
        float: left;
        margin-left: 20px;
        width: 759px;

        p {

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            color: #333;
            font-size: 18px;
            font-weight: bold;
        }

        .xtitle {
            color: $color;
            font-size: 14px;
            width: 100%;
            margin-bottom: 20px;
        }

        .detailPrice {
            padding: 15px 20px;
            background: url(//www.iqiyipic.com/common/fix/qy_shop/detail-priceBg.png) no-repeat;
            color: #777;
            overflow: hidden;
            background-size: cover;
            label{
                line-height: 50px;
                font-size: 12px;
                color:#777;
            }
            .symbol{
                color: $color;
                font-size: 20px;
            }
            .price{
                color: $color;
                font-size: 30px;
            }
        }

    }
}

/* 引入底部样式 */
@import "foot"