@charset "utf-8";
// 引入公共sass
@import "publichead";

//详情页自己的样式

/* 右侧固定侧边栏 */
.fixedmenu {
    position: fixed;
    right: 0;
    width: 42px;
    height: 100%;
    background: #000;

    a {
        display: block;
    }

    .icon {
        height: 23px;
        background: url(//www.iqiyipic.com/common/fix/iqiyi_shop_images/toolbar_linkIcon.png) no-repeat;
        background-origin: content-box;
        padding: 0 10px 15px;
        margin-top: 100px;
    }

    .shoppingcar {
        border-top: 1px dotted #5e5e5e;
        border-bottom: 1px dotted #5e5e5e;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        position: relative;

        i {
            border: solid 6px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            left: 0;
            top: 50%;
            display: none;
        }

        &:hover {
            background: $color;

            i {
                display: block;
            }

            .buynum {
                background: #fff;
                color: $color;
            }
        }

        li {
            height: 20px;
            line-height: 16px;
        }

        .bgcar {
            background: url('../img/detail_icon4.png') 2px -20px;
            margin-bottom: 5px;
        }

        .buynum {
            width: 20px;
            line-height: 20px;
            border-radius: 10px;
            background: $color;
            margin-top: 33px;
            margin-left: 2px;
        }
    }
}

.main {
    width: $typeArea;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
}

.main-top {
    height: 50px;
    line-height: 50px;
    font-size: 13px;

    a {
        color: #333;
    }

    i {
        color: #666;
        font-style: normal;
    }

    span {
        color: #666;
    }
}

.mainContent {
    margin-bottom: 20px;

    &::after {
        @include clearfix()
    }

    .scale {
        float: left;
        position: relative;
    }

    /* 左边图片 */
    .smallimg {
        width: 418px;
        height: 418px;
        border: 1px solid #e7e7e7;
        position: relative;
    }

    .smallimg img {
        width: 100%;
        height: 100%;
        display: block;
    }

    .sf {
        position: absolute;
        left: 0;
        top: 0;
        width: 220px;
        height: 220px;
        background: url('../img/image_zoom.png');
        display: none;
        cursor: move;
    }

    .df {
        width: 420px;
        height: 420px;
        border: 1px solid #ccc;
        overflow: hidden;
        display: none;
        position: absolute;
        left: 430px;
        top: 0px;
        z-index: 1;
    }

    .df img {
        position: absolute;
        display: block;
        width: 600px;
        height: 600px;
    }

    .piclist {
        margin-top: 13px;

        li {
            width: 56px;
            height: 56px;
            padding: 1px;
            margin-left: 20px;
            float: left;
            border: 1px solid #e7e7e7;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }

        li:hover {
            padding: 0;
            border: 2px solid #ee394b;
        }
    }

    /* 右边商品信息 */
    .des {
        float: left;
        margin-left: 20px;
        width: 749px;
        font-size: 12px;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .title {
            color: #333;
            font-size: 18px;
            font-weight: bold;
        }

        .xtitle {
            color: $color;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .detailPrice {
            padding: 15px 20px;
            background: url(//www.iqiyipic.com/common/fix/qy_shop/detail-priceBg.png) no-repeat;
            color: #777;
            background-size: cover;

            label {
                line-height: 50px;

                color: #777;
                vertical-align: top;
                margin-right: 10px;
            }

            em,
            span {
                vertical-align: bottom;
                color: $color;
                line-height: 40px;
                margin-left: -7px;
            }

            em {
                font-size: 20px;
                font-style: normal;
            }

            span {
                font-size: 30px;
            }
        }

        .detailsail {
            overflow: hidden;
            padding: 15px 0 10px 0;
            border-bottom: 1px dotted #c8c8c8;
            text-align: center;

            .sailnum,
            .evanum {
                color: #c00;
            }

            .sailmess {
                float: left;
                width: 100px;
            }

            .evaluate {
                float: left;
                width: 100px;
                border-left: 1px solid #ccc;
            }
        }

        .info {
            margin: 20px 0 0 20px;

            .label {
                width: 66px;
                color: #777;
            }

            div {
                margin-bottom: 10px;
            }

            input {
                width: 58px;
                height: 28px;
                margin-right: 2px;
                border: 1px solid #999;
                line-height: 28px;
                text-align: center;
                font-size: 12px;
                color: #3c3c3c;
                outline: none;
                vertical-align: top;
            }

            .buyit {
                margin-top: 30px;
            }

            .immediately,
            .join {
                width: 148px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                vertical-align: middle;
                border-radius: 2px;
                background-color: $color;
            }

            .immediately {
                float: left;
                margin-right: 5px;
                cursor: pointer;
            }

            .join {
                float: left;
                position: relative;
                cursor: pointer;

                //加入购物车图标伪元素
                &::after {
                    content: " ";
                    background: url('../img/detail_icon4.png') 12px -12px;
                    width: 30px;
                    height: 27px;
                    position: absolute;
                    left: 0;
                    overflow: hidden;
                }
            }


        }

    }
}

/* 加入购物车遮罩 */
.shadow {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    display: none;
}

.showinfo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 3px;
    width: 384px;
    height: 160px;
    display: none;

    .red {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        color: #fff;
        font-size: 16px;
        background: $color;
        position: relative;

        a {
            position: absolute;
            right: 10px;
            color: #fff;
        }
    }

    .detail {
        padding: 40px;
        background: #fff;
        font-size: 12px;
        text-align: center;
        line-height: 40px;

        .orange {
            color: #fa693c;
        }
    }


}

