@charset "utf-8";
/* 引入公共样式 */
@import "publichead";

.line {
    background: #e5e5e5;
    width: 1px;
    height: 8px;
    display: inline-block;
    margin: 0 8px;
}

header {
    .floatline {
        float: left;
        margin: 10px 0;
    }
}

/* 头部上方 */
.head-top {
    background: #f7f7f7;
    font-size: 12px;
    color: #999;
    border-bottom: 1px solid #e7e7e7;

    .head-top-area {
        width: $typeArea;
        margin: 0 auto;
        height: 32px;
        line-height: 32px;

        a {
            color: #999;
        }

    }

    .left {
        float: left;

        li {
            float: left;
            padding-right: 20px;

            a:hover {
                color: $color;
            }
        }
    }

    .right {
        float: right;

        a:hover {
            color: $color;
        }

        li {
            float: left;
        }

        .first {
            padding-left: 20px;
        }

        .second {
            margin: 0 20px;

            span {
                color: #999;
                cursor: pointer;
            }
        }

        .second:hover {
            span {
                color: $color;
            }
        }

        a span {
            color: $color;
            font-weight: bold;
        }

        i {
            display: inline-block;
        }


        .topNavCar {
            width: 15px;
            height: 13px;
            margin-top: 2px;
            background-position: -135px 1px;
        }

        .topNav_icon1 {
            width: 10px;
            height: 15px;
        }

        .topNav_icon2 {
            width: 12px;
            height: 13px;
        }

        .topNav_icon3 {
            width: 5px;
            height: 3px;
            margin-left: 5px;
        }

        .topNav_icon1,
        .topNav_icon2,
        .topNav_icon3,
        .topNavCar {
            background-image: url(../img/topMenu_redicon.png);
            background-repeat: no-repeat;
        }

        .myOrder_icon {
            background-position: 0 3px;
        }

        .myFavo_icon {
            background-position: -110px 1px;
        }

        .watch_icon {
            background-position: -40px 1px;
        }

        .watchS_icon {
            background-position: -80px 0;
            margin-bottom: 5px;
        }

        .bus_icon {
            background-position: -60px 1px;
        }

    }

    /* 悬浮图标切换 */
    .carli:hover {
        .topNavCar {
            background-position: -135px -19px;
        }
    }

    .myOrdrli:hover {
        .myOrder_icon {
            background-position: 0 -37px;
        }
    }

    .myFavoli:hover {
        .myFavo_icon {
            background-position: -110px -39px;
        }
    }

    .busli:hover {
        .bus_icon {
            background-position: -60px -19px;
        }
    }

    .attActive:hover {
        position: relative;
        padding: 0 10px;
        margin: 0 9px !important;
        border-left: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;

        .watch_icon {
            background-position: -40px -19px;
        }

        .watchS_icon {
            background-position: -95px 0;
        }

        background-color: white;

        .attention {
            display: block;
        }

    }

    .attention {
        cursor: pointer;
        width: 180px;
        position: absolute;
        left: -1px;
        top: 31px;
        border: 1px solid #e7e7e7;
        border-top: 0;
        padding: 10px;
        background: white;
        display: none;
        z-index: 1;
        
        img {
            float: left;
            width: 80px;
            height: 80px;

        }

        div {
            float: left;
            color: black;
            line-height: 25px;
            margin-left: 14px;
            margin-top: 20px;
        }

    }

}


/* 头部下面 */

.head-bottom-area {
    width: $typeArea;
    margin: 0 auto;
    height: 97px;
    padding-top: 30px;

    h1 {
        float: left;
    }

}


/* 搜索框 */
.search {
    width: 510px;
    margin-left: 155px;
    float: left;

    p {
        width: 100%;
        height: 34px;
        border: 1px solid $color;
        font-size: 12px;
        color: rgb(153, 153, 153);

        input {
            border: 0;
            outline: none;
            width: 316px;
            height: 34px;
            margin: 0 5px;
        }

        button {
            border: 0;
            outline: none;
            width: 100px;
            height: 34px;
            background: $color;
            float: right;
            color: white;
            cursor: pointer;
            text-align: center;
            font-size: 20px;
            line-height: 34px;
        }
    }


    div {
        height: 14px;
        line-height: 14px;
        padding-top: 10px;
        font-size: 12px;

        a {
            color: #c7c7c7;
        }

        a:hover {
            color: $color;
        }


    }
}

/* 头部右边轮播广告 */
.head-bottom ul {
    float: right;
    padding-right: 15px;

    img {
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 10px;
    }

    div {
        float: left;
        font-size: 12px;
        margin-top: 5px;

        p {
            line-height: 23px;
            color: #999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }

        span {
            color: #666;
        }
    }
}

.head-btn {
    float: right;
    margin: 31px 0 0 10px;
    width: 39px;
    height: 19px;
    background: url('http://pic0.iqiyipic.com/common/20150714/arrow2.gif');

    span {
        float: left;
        width: 19px;
        height: 19px;
        cursor: pointer;
    }
}

/* 导航栏 */
nav {
    background: $color;

    font-size: 16px;

    ul {
        width: $typeArea;
        margin: 0 auto;
        height: 40px;
        line-height: 40px;

    }

    li {
        float: left;
        width: 82px;
        border-bottom: 3px solid transparent;
        a {
            color: white;
            display: block;
            text-align: center;
            height: 37px;
        }
       
    }
    li:hover{
        border-bottom: 3px solid #cc0e2b;
        transition:  border-bottom 1s;
    }
    .active {
        border-bottom: 3px solid #cc0e2b;
        font-weight: bold;
    }

}