@charset "utf-8";
// 引入公共sass
@import "publichead";

/* 引入登录样式 */
@import "login";

//首页自己的样式
/*  轮播图 */
.banner {
    position: relative;
    height: 400px;

    ul {
        width: 100%;
        height: 100%;
    }

    /* 轮播图左右箭头 */
    .arrow {
        width: 66px;
        height: 66px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        opacity: 0;
    }

    .left {
        background: url('../img/new_focus_prev.png') no-repeat 0 0;
        left: 50%;
        margin-left: -600px;
    }

    .right {
        background: url('../img/new_focus_next.png') no-repeat 0 0;
        right: 50%;
        margin-right: -600px;
    }
}

/* 轮播图下面的小圆圈 */
.banner ol {
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translateX(-50%);

    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4);
        float: left;
        margin: 0 6px;
        text-indent: -9999px;

    }

    .active {
        background: $color;
    }
}

.banner ul li {
    opacity: 0;
    position: absolute;
    width: 100%;

    a {
        display: block;
        height: 400px;
    }

}

.banner li:nth-child(1) {
    a {
        background-image: url('http://pic0.iqiyipic.com/common/20200304/512956b04fe9447db308928593a5ae93.jpg');
    }

}

.banner li:nth-child(2) {
    a {
        background-image: url('http://pic0.iqiyipic.com/common/20200318/c36d469339ba4996af71e7fc8406c86d.jpg');
    }
}

.banner li:nth-child(3) {
    a {
        background-image: url('http://pic2.iqiyipic.com/common/20200219/03222235322145a4ac10076b1bbb105b.jpg');
    }
}

.banner li:nth-child(4) {
    a {
        background-image: url('http://pic3.iqiyipic.com/common/20200218/5b0d6aa4382f4cfaa61f592a5b078fbb.jpg');
    }
}

/* 广告图 */
.banner1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ad {
    width: $typeArea;
    margin: 0 auto;
}

/* 每一部分头部 */
.main-top {
    height: 36px;
    margin: 15px 0;

    .main-top-left {
        float: left;

        .spbig {
            vertical-align: top;
            line-height: 36px;
            margin: 0 10px;
            font-size: 28px;
            color: #333;
        }

        .spsmall {
            display: inline-block;
            line-height: 45px;
            font-size: 16px;
            color: #c2c2c2;
            vertical-align: top;
        }

        .line {
            margin-bottom: 9px;
            margin-left: -2px;
            color: #c2c2c2;
            height: 10px;
        }
    }

    /* 更多，进入列表页 */
    .main-top-right {
        float: right;
        margin-top: 10px;
        font-size: 14px;

        span {
            color: #666;
        }

        em {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/iqiyiMallPcRedMore.png') no-repeat;
            display: inline-block;
            height: 12px;
            width: 6px;
            background-position: 0 0;
            overflow: hidden;
        }


    }

    a:hover {
        span {
            color: $color;
        }

        em {
            background-position: -6px 0;
        }
    }
}

/* 每日精选 */
.daily {
    margin-top: 40px;

    .main {
        width: $typeArea;
        margin: 0 auto;



        /* 每日精选商品列表 */
        .main-goods {
            ul {
                width: 100%;
                height: 100%;
                margin-left: -1px;
                margin-top: -1px;
                border-right: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;

                &::after {
                    @include clearfix()
                }

                li {
                    float: left;
                    border-top: 1px solid #e5e5e5;
                    border-left: 1px solid #e5e5e5;
                    width: 239px;
                    height: 257px;
                }

            }

            //悬停图片变大
            li:hover img {
                transform: scale(1.2);
            }
        }

        .main-goods-list {
            a {
                padding: 15px;
                display: block;

                div {
                    text-align: center;
                }

                img {
                    width: 140px;
                    height: 140px;
                    transition: 1s;
                }
            }

            .title {
                color: #333;
                line-height: 22px;
                font-size: 14px;
                margin-top: 15px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .bgmess {
                display: inline-block;
                padding-left: 7px;
                height: 18px;
                line-height: 18px;
                background: url('../img/bg.png') no-repeat;
                font-size: 12px;
                color: #fff;
            }

            .des {
                font-size: 12px;
                color: #999;
                line-height: 20px;
                height: 20px;
                font-style: normal;
            }

            .pricemess {
                height: 44px;
                line-height: 44px;
            }

            .price {
                float: left;
                font-size: 20px;
                color: #ee394b;

            }

            .sail {
                float: right;
                font-size: 12px;
                color: #999;

            }

            .sails {
                font-weight: normal;
                margin-left: 8px;
            }
        }
    }
}

/* 今日特卖 */
.main-list::after {
    @include clearfix()
}

/* 今日特卖左边列表 */
.main-list-left {
    float: left;

    ul {
        width: 840px;
        height: 600px;

        li {
            width: 100%;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            height: 292px;
            margin-bottom: 10px;
        }

        .showinfo {
            float: left;
            width: 258px;
            margin-top: 120px;
            text-align: center;
        }

        .infotitle {
            font-size: 24px;
            color: #333;
            height: 24px;
            line-height: 24px;
        }

        .infoprice {
            font-size: 18px;
            color: #666;
            line-height: 18px;
            margin-top: 14px;
            height: 18px;
        }

        .infoprice:hover {
            color: $color;
        }

        img {
            width: 580px;
            float: right;
        }

        li:hover {
            cursor: pointer;
        }

    }
}

/* 热销榜单 */
.main-list-right {
    float: right;
    width: 340px;

    .rightlist {
        margin-bottom: 20px;

        .recommend {

            li {
                margin-bottom: 25px;
            }

            li:last-child {
                margin-bottom: 0
            }
        }
    }

    /* 榜单头部 */
    .sortTop {
        width: 100%;
        background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/nav_tint_redbg.png') no-repeat;
        height: 50px;
        line-height: 50px;

        em {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/good_hot_redranking.png') no-repeat;
            margin: 15px 12px 0 16px;
            float: left;
            height: 19px;
            width: 19px;
        }

        span {
            font-size: 21px;
            color: #333;
            float: left;
        }
    }

    .sortlist {
        border: 1px solid #e5e5e5;
        border-top: 0;
        padding: 10px;

        &::after {
            @include clearfix()
        }

        li {
            margin-bottom: 10px;

            &::after {
                @include clearfix()
            }
        }

        .img {
            width: 90px;
            height: 90px;
            float: left;
        }

        h2 {

            width: 57px;
            height: 20px;
            margin-bottom: 10px;
        }

        li:nth-child(1) h2 {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_first.png') no-repeat;
        }

        li:nth-child(2) h2 {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_second.png') no-repeat;
        }

        li:nth-child(3) h2 {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_third.png') no-repeat;
        }

        li:nth-child(4) h2 {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fourth.png') no-repeat;
        }

        li:nth-child(5) h2 {
            background: url('http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fifth.png') no-repeat;
        }

        li:last-child {
            margin-bottom: 0px;

            div {
                border-bottom: none;
            }
        }
    }

    .sortlist1 {
        padding-bottom: 0;
    }

    .sortright {
        float: left;
        height: 100px;
        width: 200px;
        margin-left: 25px;
        margin-top: 5px;
        border-bottom: 1px solid #e5e5e5;


        .des {
            font-size: 14px;
            color: #777;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 14px;
        }

        .pricmess {
            margin-top: 25px;
        }

        .price {
            font-size: 18px;
            color: #ee394b;
            float: left;
        }

        span {
            font-size: 12px;
            color: #999;
            float: right;
        }

        .sail {
            color: $color;
            margin-left: 10px;
        }
    }

}

/* 热门推荐 */
.recommend {
    img {
        width: 320px;
        height: 160px;
    }

    .title1 {
        font-size: 14px;
        color: #333;
        line-height: 14px;
        height: 14px;
        margin: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title2 {
        font-size: 12px;
        color: #999;
        line-height: 12px;
        margin: 0 10px;
        height: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

/* 底部logo列表 */
.logolist {
    ul {
        overflow: hidden;
        height: 239px;
        position: relative;
        border: 1px solid #e5e5e5;

        li {
            width: 1200px;
            overflow: hidden;
            margin-left: -1px;
        }

        div {
            float: left;
            border: 1px solid #e5e5e5;
            overflow: hidden;
            width: 119px;
            height: 120px;
            margin: -1px 0 0 -1px;
        }
    }

}