@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 声明混合清浮动 */
/* 引入登录样式 */
.shade {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  display: none;
  z-index: 1;
}

/* 登录框 */
.log_in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 460px;
  height: 400px;
  background: #fff;
  z-index: 2;
  display: none;
}
.log_in .login-top {
  height: 50px;
  line-height: 50px;
  background: url("../img/login-logo.png");
  color: #5aa700;
  font-size: 14px;
  padding: 0 0 0 104px;
  position: relative;
}
.log_in .login-top a {
  color: black;
  position: absolute;
  top: 0px;
  right: 18px;
}
.log_in .login-main {
  width: 360px;
  margin: 0 auto;
  /* 得到焦点提示信息 */
}
.log_in .login-main p {
  color: #aaa;
  font-size: 12px;
  line-height: 80px;
  padding-left: 57px;
  display: none;
}
.log_in .login-main .res {
  height: 58px;
}
.log_in .login-main .res p {
  line-height: 50px;
}
.log_in .login-main div {
  height: 78px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.log_in .login-main div input {
  position: absolute;
  bottom: 0px;
  left: 57px;
  border: none;
  outline: none;
  color: #aaa;
}
.log_in .login-main div label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  text-align: right;
}
.log_in .login-main button, .log_in .login-main .resbtn {
  height: 48px;
  line-height: 48px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 60px;
  color: #fff;
  background-color: #5aa700;
  border: none;
  outline: none;
  cursor: pointer;
}
.log_in .login-main .resbtn {
  margin-top: 41px;
}
.log_in .login-bottom {
  font-size: 14px;
  margin-top: 50px;
  padding-left: 20px;
}
.log_in .login-bottom a {
  color: #666;
}

.resdis {
  display: none;
}

.head-top .head-top-area,
.head-bottom .head-bottom-area {
  width: 980px;
  margin: 0 auto;
}

.head-bottom-area {
  height: 90px;
}

.head-right {
  float: right;
}
.head-right ul {
  padding-right: 0px;
  float: none;
}
.head-right ul::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.head-right ul li {
  float: left;
  width: 96px;
  text-align: center;
  color: #999;
  font-size: 15px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
}
.head-right ul .active {
  color: #ff7b7e;
}
.head-right .step-bar {
  margin-top: 10px;
  background: url("../img/def_grey_step.png") no-repeat;
  height: 30px;
  position: relative;
}
.head-right .step-bar .paststep {
  width: 25%;
  height: 30px;
  background: url(../img/sel_red_step.png) no-repeat;
  position: absolute;
  top: 0;
}

/* 购物车主体样式 */
#container {
  border-top: 1px solid #e7e7e7;
  background: #fafafa;
  padding-bottom: 50px;
}

/* 购物车版心 */
.w {
  width: 938px;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  background: #fff;
  padding: 20px;
  color: #777;
  font-size: 12px;
}

.cart-top {
  height: 38px;
  line-height: 35px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 16px;
}
.cart-top h1 {
  font-size: 14px;
  color: #3c3c3c;
  border-bottom: 2px solid #ee394b;
  float: left;
  line-height: 36px;
}

/* 列表上面的导航 */
.order-top {
  border: 1px solid #e7e7e7;
  background: #f7f7f7;
  line-height: 38px;
  margin-bottom: 10px;
}
.order-top ul {
  padding: 0 10px;
}
.order-top .qx {
  vertical-align: middle;
  color: #3c3c3c;
  cursor: pointer;
}
.order-top .checkbox {
  cursor: pointer;
}
.order-top li {
  display: inline-block;
  text-align: center;
}
.order-top li:nth-child(2) {
  width: 38%;
}
.order-top li:nth-child(3) {
  width: 10.5%;
}
.order-top li:nth-child(4) {
  width: 14.9%;
}
.order-top li:nth-child(5) {
  width: 17%;
}
.order-top li:nth-child(6) {
  width: 9.5%;
}

/* 商品列表 */
.goodslist {
  height: 140px;
  border: 1px solid #e7e7e7;
  background: #f7f7f7;
  margin-bottom: 10px;
}
.goodslist .shoptitledes {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}
.goodslist .shoptitledes .checkbox {
  vertical-align: middle;
}
.goodslist .shoptitledes .shoptitle {
  font-weight: bold;
  color: #3c3c3c;
}
.goodslist .goodsdetail {
  height: 80px;
  background: #fff7f7;
  padding: 10px;
  position: relative;
  /* 商品下面的小图标 */
}
.goodslist .goodsdetail input {
  line-height: 80px;
  height: 80px;
  vertical-align: top;
}
.goodslist .goodsdetail .img {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: top;
  margin-left: 15px;
}
.goodslist .goodsdetail .img img {
  width: 100%;
  height: 100%;
}
.goodslist .goodsdetail .title {
  vertical-align: top;
  color: #3c3c3c;
  margin-left: 10px;
  display: inline-block;
  width: 26.5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goodslist .goodsdetail i {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 135px;
  bottom: 10px;
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/PC_detail_post.png");
}
.goodslist .goodsdetail .primess {
  display: inline-block;
  width: 10.5%;
  text-align: center;
  margin-left: 30px;
}
.goodslist .goodsdetail .primess .preprice {
  text-decoration: line-through;
}
.goodslist .goodsdetail .primess .price {
  margin-top: 5px;
}
.goodslist .goodsdetail .primess .promotion {
  width: 50px;
  border: 1px solid #ee394b;
  line-height: 22px;
  padding: 0 16px 0 3px;
  color: #ee394b;
  display: inline-block;
}
.goodslist .goodsdetail .buynum {
  display: inline-block;
  background: #fff0e7;
  border: 1px solid #ffe1d3;
  width: 82px;
  height: 52px;
  vertical-align: top;
  margin-left: 35px;
  padding: 4px;
}
.goodslist .goodsdetail .buynum .clearpx {
  /* 去除子元素右边3px */
  font-size: 0;
  background: #fff;
}
.goodslist .goodsdetail .buynum input {
  width: 58px;
  height: 28px;
  margin-right: 2px;
  border: 1px solid #999;
  line-height: 28px;
  text-align: center;
  color: #3c3c3c;
  outline: 0;
}
.goodslist .goodsdetail .buynum span {
  display: inline-block;
  width: 20px;
  height: 30px;
  vertical-align: top;
}
.goodslist .goodsdetail .buynum .add {
  margin-bottom: 2px;
  background-position: -160px -22px;
  cursor: pointer;
}
.goodslist .goodsdetail .buynum .add:hover {
  background-position: -160px -44px;
}
.goodslist .goodsdetail .buynum p {
  display: inline-block;
  width: 20px;
  height: 14px;
  background: url(../img/detail_icon4.png) no-repeat -180px -66px;
  /* 默认向下灰色 */
  cursor: default;
  vertical-align: top;
}
.goodslist .goodsdetail .buynum .limit {
  color: #f66a11;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.goodslist .goodsdetail .sumprice {
  display: inline-block;
  width: 115px;
  text-align: center;
  margin-left: 30px;
  vertical-align: top;
  font-size: 18px;
  color: #ee394b;
}
.goodslist .goodsdetail .operation {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}
.goodslist .goodsdetail .operation a {
  color: #333;
  display: inline-block;
  line-height: 25px;
}
.goodslist .goodsdetail .operation a:hover {
  color: #ee394b;
}

/* 购物车下面的导航 */
.order-bottom {
  height: 59px;
  line-height: 59px;
  border: 1px solid #e7e7e7;
  background: #f7f7f7;
  margin-top: 10px;
  padding: 0 10px;
  width: 918px;
}
.order-bottom .qx {
  vertical-align: middle;
}
.order-bottom ul {
  float: left;
  color: #3c3c3c;
  line-height: 50px;
}
.order-bottom li {
  display: inline-block;
  text-align: center;
  min-width: 48px;
  margin: 5px;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.order-bottom li a {
  color: #3c3c3c;
}
.order-bottom li a:hover {
  color: #ee394b;
}
.order-bottom .totalmess {
  float: right;
  color: #777;
}
.order-bottom .totalmess i {
  font-style: normal;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.order-bottom .totalmess .selected {
  margin-right: 15px;
  font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.order-bottom .totalmess .sumgoods {
  color: #ee394b;
  font-weight: bold;
}
.order-bottom .totalmess .price {
  font-size: 18px;
  color: #ee394b;
  font-family: arial;
}
.order-bottom .totalmess .sumprice {
  margin-right: 15px;
}
.order-bottom .totalmess button {
  width: 120px;
  height: 38px;
  line-height: 38px;
  background: #ee394b;
  border: 1px solid #ee394b;
  border-radius: 3px;
  font-family: "\5FAE\8F6F\96C5\9ED1";
  color: #fff;
  font-size: 18px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

/* 没有商品的购物车 */
.nogoods {
  padding: 50px 0;
  text-align: center;
  display: none;
}
.nogoods p {
  font-size: 18px;
  color: #3c3c3c;
  margin-top: 15px;
}
.nogoods div {
  margin-top: 10px;
}
.nogoods span {
  margin-right: 20px;
  height: 24px;
  line-height: 24px;
}
.nogoods a {
  display: inline-block;
  background: #feebed;
  color: #ee394b;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ee394b;
  border-radius: 2px;
  text-align: center;
  padding: 0 20px;
  font-size: 12px;
}

/*# sourceMappingURL=cart.css.map */
