@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 声明混合清浮动 */
/* 引入登录样式 */
.shade {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  display: none;
  z-index: 1;
}

/* 登录框 */
.log_in {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 460px;
  height: 400px;
  background: #fff;
  z-index: 2;
  display: none;
}
.log_in .login-top {
  height: 50px;
  line-height: 50px;
  background: url("http://www.iqiyipic.com/common/fix/v3-login/login-logo.png");
  color: #5aa700;
  font-size: 14px;
  padding: 0 0 0 104px;
  position: relative;
}
.log_in .login-top a {
  color: black;
  position: absolute;
  top: 0px;
  right: 18px;
}
.log_in .login-main {
  width: 360px;
  margin: 0 auto;
  /* 得到焦点提示信息 */
}
.log_in .login-main p {
  color: #f94343;
  font-size: 12px;
  line-height: 80px;
  text-align: center;
}
.log_in .login-main .res {
  height: 58px;
}
.log_in .login-main div {
  height: 78px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.log_in .login-main div input {
  position: absolute;
  bottom: 0px;
  left: 57px;
  border: none;
  outline: none;
}
.log_in .login-main div label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  text-align: right;
}
.log_in .login-main button {
  height: 48px;
  line-height: 48px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-top: 60px;
  color: #fff;
  background-color: #5aa700;
  border: none;
  outline: none;
  cursor: pointer;
}
.log_in .login-main .resbtn {
  margin-top: 41px;
}
.log_in .login-bottom {
  font-size: 14px;
  margin-top: 50px;
  padding-left: 20px;
}
.log_in .login-bottom a {
  color: #666;
}

.resdis {
  display: none;
}

/*  轮播图 */
.banner {
  position: relative;
  height: 400px;
  /* 轮播图左右箭头 */
}
.banner ul {
  width: 100%;
  height: 100%;
}
.banner .arrow {
  width: 66px;
  height: 66px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  opacity: 0;
}
.banner .left {
  background: url("../img/new_focus_prev.png") no-repeat 0 0;
  left: 50%;
  margin-left: -600px;
}
.banner .right {
  background: url("../img/new_focus_next.png") no-repeat 0 0;
  right: 50%;
  margin-right: -600px;
}

/* 轮播图下面的小圆圈 */
.banner ol {
  position: absolute;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
}
.banner ol li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
  float: left;
  margin: 0 6px;
  text-indent: -9999px;
}
.banner ol .active {
  background: #ee394b;
}

.banner ul li {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.banner ul li a {
  display: block;
  height: 400px;
}

.banner li:nth-child(1) a {
  background-image: url("http://pic0.iqiyipic.com/common/20200304/512956b04fe9447db308928593a5ae93.jpg");
}

.banner li:nth-child(2) a {
  background-image: url("http://pic0.iqiyipic.com/common/20200318/c36d469339ba4996af71e7fc8406c86d.jpg");
}

.banner li:nth-child(3) a {
  background-image: url("http://pic2.iqiyipic.com/common/20200219/03222235322145a4ac10076b1bbb105b.jpg");
}

.banner li:nth-child(4) a {
  background-image: url("http://pic3.iqiyipic.com/common/20200218/5b0d6aa4382f4cfaa61f592a5b078fbb.jpg");
}

/* 广告图 */
.banner1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ad {
  width: 1200px;
  margin: 0 auto;
}

/* 每一部分头部 */
.main-top {
  height: 36px;
  margin: 15px 0;
  /* 更多，进入列表页 */
}
.main-top .main-top-left {
  float: left;
}
.main-top .main-top-left .spbig {
  vertical-align: top;
  line-height: 36px;
  margin: 0 10px;
  font-size: 28px;
  color: #333;
}
.main-top .main-top-left .spsmall {
  display: inline-block;
  line-height: 45px;
  font-size: 16px;
  color: #c2c2c2;
  vertical-align: top;
}
.main-top .main-top-left .line {
  margin-bottom: 9px;
  margin-left: -2px;
  color: #c2c2c2;
  height: 10px;
}
.main-top .main-top-right {
  float: right;
  margin-top: 10px;
  font-size: 14px;
}
.main-top .main-top-right span {
  color: #666;
}
.main-top .main-top-right em {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/iqiyiMallPcRedMore.png") no-repeat;
  display: inline-block;
  height: 12px;
  width: 6px;
  background-position: 0 0;
  overflow: hidden;
}
.main-top a:hover span {
  color: #ee394b;
}
.main-top a:hover em {
  background-position: -6px 0;
}

/* 每日精选 */
.daily {
  margin-top: 40px;
}
.daily .main {
  width: 1200px;
  margin: 0 auto;
  /* 每日精选商品列表 */
}
.daily .main .main-goods ul {
  width: 100%;
  height: 100%;
  margin-left: -1px;
  margin-top: -1px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.daily .main .main-goods ul::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.daily .main .main-goods ul li {
  float: left;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  width: 239px;
  height: 257px;
}
.daily .main .main-goods li:hover img {
  transform: scale(1.2);
}
.daily .main .main-goods-list a {
  padding: 15px;
  display: block;
}
.daily .main .main-goods-list a div {
  text-align: center;
}
.daily .main .main-goods-list a img {
  width: 140px;
  height: 140px;
  transition: 1s;
}
.daily .main .main-goods-list .title {
  color: #333;
  line-height: 22px;
  font-size: 14px;
  margin-top: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.daily .main .main-goods-list .bgmess {
  display: inline-block;
  padding-left: 7px;
  height: 18px;
  line-height: 18px;
  background: url("../img/bg.png") no-repeat;
  font-size: 12px;
  color: #fff;
}
.daily .main .main-goods-list .des {
  font-size: 12px;
  color: #999;
  line-height: 20px;
  height: 20px;
  font-style: normal;
}
.daily .main .main-goods-list .pricemess {
  height: 44px;
  line-height: 44px;
}
.daily .main .main-goods-list .price {
  float: left;
  font-size: 20px;
  color: #ee394b;
}
.daily .main .main-goods-list .sail {
  float: right;
  font-size: 12px;
  color: #999;
}
.daily .main .main-goods-list .sails {
  font-weight: normal;
  margin-left: 8px;
}

/* 今日特卖 */
.main-list::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

/* 今日特卖左边列表 */
.main-list-left {
  float: left;
}
.main-list-left ul {
  width: 840px;
  height: 600px;
}
.main-list-left ul li {
  width: 100%;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  height: 292px;
  margin-bottom: 10px;
}
.main-list-left ul .showinfo {
  float: left;
  width: 258px;
  margin-top: 120px;
  text-align: center;
}
.main-list-left ul .infotitle {
  font-size: 24px;
  color: #333;
  height: 24px;
  line-height: 24px;
}
.main-list-left ul .infoprice {
  font-size: 18px;
  color: #666;
  line-height: 18px;
  margin-top: 14px;
  height: 18px;
}
.main-list-left ul .infoprice:hover {
  color: #ee394b;
}
.main-list-left ul img {
  width: 580px;
  float: right;
}
.main-list-left ul li:hover {
  cursor: pointer;
}

/* 热销榜单 */
.main-list-right {
  float: right;
  width: 340px;
  /* 榜单头部 */
}
.main-list-right .rightlist {
  margin-bottom: 20px;
}
.main-list-right .rightlist .recommend li {
  margin-bottom: 25px;
}
.main-list-right .rightlist .recommend li:last-child {
  margin-bottom: 0;
}
.main-list-right .sortTop {
  width: 100%;
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/nav_tint_redbg.png") no-repeat;
  height: 50px;
  line-height: 50px;
}
.main-list-right .sortTop em {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/good_hot_redranking.png") no-repeat;
  margin: 15px 12px 0 16px;
  float: left;
  height: 19px;
  width: 19px;
}
.main-list-right .sortTop span {
  font-size: 21px;
  color: #333;
  float: left;
}
.main-list-right .sortlist {
  border: 1px solid #e5e5e5;
  border-top: 0;
  padding: 10px;
}
.main-list-right .sortlist::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.main-list-right .sortlist li {
  margin-bottom: 10px;
}
.main-list-right .sortlist li::after {
  content: "";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.main-list-right .sortlist .img {
  width: 90px;
  height: 90px;
  float: left;
}
.main-list-right .sortlist h2 {
  width: 57px;
  height: 20px;
  margin-bottom: 10px;
}
.main-list-right .sortlist li:nth-child(1) h2 {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_first.png") no-repeat;
}
.main-list-right .sortlist li:nth-child(2) h2 {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_second.png") no-repeat;
}
.main-list-right .sortlist li:nth-child(3) h2 {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_third.png") no-repeat;
}
.main-list-right .sortlist li:nth-child(4) h2 {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fourth.png") no-repeat;
}
.main-list-right .sortlist li:nth-child(5) h2 {
  background: url("http://www.iqiyipic.com/common/fix/h5_qiyiShop_img/hot_fifth.png") no-repeat;
}
.main-list-right .sortlist li:last-child {
  margin-bottom: 0px;
}
.main-list-right .sortlist li:last-child div {
  border-bottom: none;
}
.main-list-right .sortlist1 {
  padding-bottom: 0;
}
.main-list-right .sortright {
  float: left;
  height: 100px;
  width: 200px;
  margin-left: 25px;
  margin-top: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.main-list-right .sortright .des {
  font-size: 14px;
  color: #777;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 14px;
}
.main-list-right .sortright .pricmess {
  margin-top: 25px;
}
.main-list-right .sortright .price {
  font-size: 18px;
  color: #ee394b;
  float: left;
}
.main-list-right .sortright span {
  font-size: 12px;
  color: #999;
  float: right;
}
.main-list-right .sortright .sail {
  color: #ee394b;
  margin-left: 10px;
}

/* 热门推荐 */
.recommend img {
  width: 320px;
  height: 160px;
}
.recommend .title1 {
  font-size: 14px;
  color: #333;
  line-height: 14px;
  height: 14px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommend .title2 {
  font-size: 12px;
  color: #999;
  line-height: 12px;
  margin: 0 10px;
  height: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 底部logo列表 */
.logolist ul {
  overflow: hidden;
  height: 239px;
  position: relative;
  border: 1px solid #e5e5e5;
}
.logolist ul li {
  width: 1200px;
  overflow: hidden;
  margin-left: -1px;
}
.logolist ul div {
  float: left;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  width: 119px;
  height: 120px;
  margin: -1px 0 0 -1px;
}

/*# sourceMappingURL=index.css.map */
